<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <script src="https://unpkg.com/scrollreveal"></script>
  </head>
  <body>

    <section class="sec-01">
      <div class="container">

        <div class="content">
          <div class="image">
            <h2 class="main-title"><p style="color:#dea69f;">Pure</p>
              Meet</h2>

          </div>
          <div class="text-box">

            <p>Bir sonraki video görüşmenizi tek tıklamayla başlatın. İndirme
              veya eklenti gerekmez. Doğrudan konuşmaya, mesajlaşmaya ve
              ekranınızı paylaşmaya başlayın.</p>
          </div>
        </div>

      </div>
    </section>
    <section class="sec-02">
      <div class="container">

        <div class="content">
          <div class="image">
            <img src="/pictures/monitor.png" alt="" />
          </div>
          <div class="info">
            <h4 class="info-title">Ekran Paylaşımı</h4>
            <p>Ekranınızı, uygulama pencerenizi paylaşın, belgelerinizi,
              slaytlarınızı ve daha fazlasını sunun. 4k'ya kadar çözünürlük ve
              60 fps'ye kadar hız.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="sec-03">
      <div class="container">

        <div class="content">
          <div class="info">
            <h4 class="info-title">Web Kamerası Akışı</h4>
            <p>Web kamerasının açık olması, katılımcıların sizinle daha derin
              bir bağ kurmasını sağlar. 4k'ya kadar çözünürlük ve 60 fps'ye
              kadar hız.</p>
          </div>
          <div class="image">
            <img src="/pictures/video-call.png" alt="" />
          </div>

        </div>
      </div>
    </section>
    <section class="sec-04">
      <div class="container">

        <div class="content">
          <div class="image">
            <img src="/pictures/chat.png" alt="" />
          </div>
          <div class="info">
            <h4 class="info-title">Sohbet Odası</h4>
            <p>Toplantıdaki diğer kişilerle genel sohbet veya özel sohbet edin,
              toplantı mesajlarını kaydedin.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="sec-05">
      <div class="container">

        <div class="content">
          <div class="info">
            <h4 class="info-title">Beyaz Tahta</h4>
            <p>Kavramlarınızı toplantıdaki diğer katılımcılara çizmek ve
              açıklamak için gelişmiş işbirlikçi beyaz tahta.</p>
          </div>
          <div class="image">
            <img src="/pictures/whiteboard.png" alt="" />
          </div>

        </div>
      </div>
    </section>
    <section class="sec-06">
      <div class="container">

        <div class="content">
          <div class="image">
            <img src="/pictures/cyber-security.png" alt="" />
          </div>
          <div class="info">
            <h4 class="info-title">Gizlilik</h4>
            <p>Veriler siz ve katılımcılarınız arasında kalır. Pure Meet kişisel
              bilgileri toplamaz veya paylaşmaz. Öncelikle gizlilik için inşa
              edilmiştir.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="sec-07">
      <div class="container">

        <div class="content">

          <div class="info">
            <h4 class="info-title">Dosya Gönderimi</h4>
            <p>İster sunum dosyalarınızı, ister belgelerinizi, isterseniz de
              resim ve videolarınızı paylaşın, tüm katılımcılarla anında
              paylaşım yapın.
            </p>
          </div>
          <div class="image">
            <img src="/pictures/folders.png" alt="" />
          </div>
        </div>
      </div>
    </section>
    <section class="sec-08">
      <div class="container">

        <div class="content">
          <div class="image">
            <img src="/pictures/recording.png" alt="" />
          </div>
          <div class="info">
            <h4 class="info-title">Ekran Kaydı</h4>
            <p>Toplantılarınızı, derslerinizi veya önemli anları kaydetmek artık
              çok daha kolay. Tek yapmanız gereken, kaydetmek istediğiniz anı
              seçip "Ekranı Kaydet" butonuna tıklamak.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="sec-09">
      <div class="container">

        <div class="content">

          <div class="info">
            <h4 class="info-title">Katılımcı Listesi</h4>
            <p>Toplantınızda kimlerin olduğunu görebilir, konuşmalarınızı daha
              verimli bir şekilde yönetebilirsiniz.</p>
          </div>
          <div class="image">
            <img src="/pictures/team.png" alt="" />
          </div>
        </div>
      </div>
    </section>
    <section class="sec-10">
      <div class="container">

        <div class="content">
          <div class="image">
            <img src="/pictures/blur.png" alt="" />
          </div>
          <div class="info">
            <h4 class="info-title">Arkaplanını Blurlaştır</h4>
            <p>Toplantıya katıldığınızda, kamera görüntünüzün arka planını
              otomatik olarak bulanıklaştırarak odak noktanızı ön plana
              çıkarıyoruz. Böylece, toplantıdaki diğer katılımcılar sizi daha
              iyi görebilir ve dikkatlerini dağıtan unsurları en aza indiririz.</p>
          </div>

        </div>
      </div>
    </section>
    <section class="sec-11">
      <div class="container">
        <button class="btn draw-border" id="try-btn">Şimdi Deneyin</button>
        <script>
          document.getElementById("try-btn").onclick = function () {
          location.href = "/login"; };
        </script>
        <div class="content">
          <div class="media-icons">
            <a href="#" class="icon"><i class="fab fa-facebook"></i></a>
            <a href="#" class="icon"><i class="fab fa-instagram"></i></a>
            <a href="#" class="icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="icon"><i class="fab fa-youtube"></i></a>
          </div>

        </div>
      </div>
    </section>

    <script>
      ScrollReveal({ reset: true, distance: '60px', duration: 2500, delay:400});
      //target elements, and specify options to create reveal animations
      ScrollReveal().reveal('.main-title, .section-title', { delay: 500,
      origin:'left' }); ScrollReveal().reveal('.sec-01 .image, .info', {
      delay:500, origin: 'bottom' }); ScrollReveal().reveal('.text-box', {
      delay: 600, origin: 'right' }); ScrollReveal().reveal('.media-icons i', {
      delay: 400, origin: 'bottom', interval: 200 });
      ScrollReveal().reveal('.sec-02 .image, .sec-07 .image', { delay: 400,
      origin: 'top' }); ScrollReveal().reveal('.media-icons i', { delay: 400,
      origin: 'bottom', interval: 200 }); /*update comments*/
      ScrollReveal().reveal('.sec-03 .image, .sec-04 .image', { delay: 400,
      origin: 'top' }); ScrollReveal().reveal('.sec-05 .image, .sec-06 .image',
      { delay: 400, origin: 'top' }); ScrollReveal().reveal(
      '.sec-07.image,.sec-08.image,.sec-09.image,.sec-10.image', { delay: 400,
      origin: 'top' });

    </script>

  </body>
</html>